<div class="card" id="activity-<%= activity.id %>">
  <div class="card-header" data-toggle="collapse" href="#description-<%= activity.id %>">
    <span class="pull-xs-right octicon octicon-triangle-down"></span>
    <%= activity.title %><%= ", #{activity.teacher.name}" if activity.teacher %>(<%= activity.activity_type %>)
  </div>
  <!-- <img data-src="..." alt="Card image"> -->
  <div id="description-<%= activity.id %>" class="card-block collapse out">
    <p class="card-text text-justify">
      <%= activity.description %>
    </p>
  </div>
  <div class="card-footer text-muted">
    <% if booking = booking_for_activity(activity) -%>
      <%= t('.you_have_a_spot_saved') %>
      <%= button_to t('.cancel'), booking_path(id: booking.id), method: :delete, class: 'btn btn-link btn-danger btn-block', confirm: 'sure?' %>
    <% else -%>
      <% if activity.limited_vacancies? -%>
        <% if activity.available_vacancies > 0 -%>
          <%= button_to t('.save_me_a_spot'), bookings_path, method: 'POST', params: { booking: { activity_id: activity.id }}, class: "btn btn-primary btn-block" %>
          <%= t('.vacancies_left', vacancies: activity.available_vacancies) %> 
        <% else -%>
          <%= t('.no_more_vacancies') %>
        <% end -%>
      <% else -%>
          <%= button_to t('.add_to_my_activities'), bookings_path, method: 'POST', params: { booking: { activity_id: activity.id }}, class: "btn btn-primary btn-block" %>
      <% end -%>
    <% end -%>
  </div>
</div>
