<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>Avant Premiere</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-faded">
      <a class="navbar-brand" href="#">Avant Premiere</a>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <%= link_to t('.all_activities'), root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to t('.my_activities'), activities_path(only_mine: true), class: 'nav-link' %>
        </li>
        <li class="nav-item pull-xs-right">
					<% if user_signed_in? -%>
						<%= current_user.email %> 
						<%= link_to 'log out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
					<% end -%>
        </li>
      </ul>
    </nav>

    <div id="mainContainer" class="container">
      <%= render 'layouts/flash_messages' %>      
			<%= yield %>
    </div>

  </body>
</html>
